<ion-footer class="stable-bg button-block main_footer"
            ng-if="nowPlaying">
    <a class="item item-avatar menu_play_item"
       ui-sref="app.playlist">
        <img ng-src="http://musicatop.jelastic.websolute.net.br/public/img/{{playlist[mediaPlayer.currentTrack].cd.capa}}"
             class="menu_play_image">

        <h3 style="margin-bottom: 0">{{playlist[mediaPlayer.currentTrack].title}}</h3>

        <p>
            <small>{{playlist[mediaPlayer.currentTrack].cd.artista.nome}} -
                {{playlist[mediaPlayer.currentTrack].cd.titulo}}
            </small>
        </p>
    </a>
    <button ng-click="mediaPlayer.prev()"
            class="button button-icon button-clear button-large button-royal ion-skip-backward"></button>
    <button ng-click="mediaPlayer.playPause()"
            ng-class="{'ion-play':!mediaPlayer.playing, 'ion-pause':mediaPlayer.playing}"
            class="button button-icon button-clear button-large ion-play button-royal menu_play_button"></button>
    <button ng-click="mediaPlayer.next()"
            class="button button-icon button-clear button-large button-royal ion-skip-forward"></button>
</ion-footer>