<ion-footer class="stable-bg button-block main_footer" >
    <a class="item item-avatar menu_play_item" href="#">
        <img src="http://musicatop.jelastic.websolute.net.br/public/img/a7e732ce-3a0b-4c6c-b7fd-2a243e105090.jpg"
             class="menu_play_image">

        <h3 style="margin-bottom: 0">General Midi</h3>

        <p>
            <small>When i Rock (Original Mix)</small>
        </p>
    </a>
    <button class="button button-icon button-clear button-large button-royal ion-skip-backward"></button>
    <button class="button button-icon button-clear button-large ion-play button-royal menu_play_button"></button>
    <button class="button button-icon button-clear button-large button-royal ion-skip-forward"></button>
</ion-footer>