<ion-footer class="calm-bg button-block main_footer" >
    <a href="javascript:void(0)" class="playlist-plug" title="Esconder Playlist" ng-click="togglePlayer()"><span
            class="icon"></span>Esconder</a>
    <div id="playlist" class="visible">
        <a class="item item-avatar menu_play_item" href="#">
            <img src="http://musicatop.jelastic.websolute.net.br/public/img/a7e732ce-3a0b-4c6c-b7fd-2a243e105090.jpg"
                 class="menu_play_image">

            <h3 style="margin-bottom: 0">General Midi</h3>

            <p>
                <small>When i Rock (Original Mix)</small>
            </p>
        </a>
        <button class="button button-icon button-clear button-large button-light ion-skip-backward"
                style="margin-left: 5%"></button>
        <button class="button button-icon button-clear button-large ion-play button-light main_menu_play_button"></button>
        <button class="button button-icon button-clear button-large button-light ion-skip-forward"></button>
    </div>
</ion-footer>