<ion-view view-title="MÚSICA TOP/ARTISTAS">
  <ion-content delegate-handle="scrollHandle"
               on-scroll="checkPosition()"
               sticky>
    <div class="list">
      <div class="item-container">
        <div class="item item-divider">One</div>
        <div class="item">A</div>
        <div class="item">B</div>
        <div class="item">C</div>
        <div class="item">D</div>
      </div>
      <div class="item-container">
        <div class="item item-divider">Two</div>
        <div class="item">A</div>
        <div class="item">B</div>
        <div class="item">C</div>
        <div class="item">D</div>
        <div class="item">E</div>
      </div>
      <div class="item-container">
        <div class="item item-divider">Three</div>
        <div class="item">A</div>
        <div class="item">B</div>
        <div class="item">C</div>
      </div>
      <div class="item-container">
        <div class="item item-divider">Four</div>
        <div class="item">A</div>
        <div class="item">B</div>
        <div class="item">C</div>
      </div>
      <div class="item-container">
        <div class="item item-divider">Five</div>
        <div class="item">A</div>
        <div class="item">B</div>
        <div class="item">C</div>
        <div class="item">D</div>
      </div>
      <div class="item-container">
        <div class="item item-divider">Six</div>
        <div class="item">A</div>
        <div class="item">B</div>
        <div class="item">C</div>
        <div class="item">D</div>
        <div class="item">E</div>
      </div>
    </div>
  </ion-content>
</ion-view>