<ion-view view-title="CD">
    <ion-content>
        <div ng-if="dataLoaded">
            <section class="cd_header">
                <img ng-src="http://musicatop.jelastic.websolute.net.br/public/img/{{cd.capa}}"
                     class="cd_cover_bg blur"/>

                <div class="cd_info_box">
                    <h3 class="cd_name">{{cd.titulo}}</h3>
                    <a ng-click="addCdToPlaylist()">
                        <img ng-src="http://musicatop.jelastic.websolute.net.br/public/img/{{cd.capa}}"
                             class="cd_cover"/>
                    </a>
                </div>
                <div class="dados">
                    <div style="width: 260px;position:relative;left:50%;margin-left: -130px">
                        <dl>
                            <dt>MÚSICAS</dt>
                            <dd>{{cd.musicas.length}}</dd>
                        </dl>
                        <dl>
                            <dt>Data de Envio</dt>
                            <dd>{{cd.createdAt|date : "dd/MM/yyyy"}}</dd>
                        </dl>
                        <dl>
                            <dt>Downloads</dt>
                            <dd>{{cd.downloads}}</dd>
                        </dl>
                    </div>
                </div>
                <div class="cd-user">
                        <span class="avatar">
                            <img ng-src="http://musicatop.jelastic.websolute.net.br/public/img/{{cd.artista.foto}}"
                                 style="width: 34px;height:34px">
                        </span>
                    <small>por:</small>
                    <a ui-sref="app.perfil({id:cd.artista.id})"
                       class="user ng-binding">{{cd.artista.nome}}</a>
                </div>
            </section>
            <ion-list class="playlist">
                <ion-item class="item-divider item-calm home_header">MÚSICAS</ion-item>
                <ion-item class="item-icon-right"
                          ng-repeat="musica in cd.musicas|orderBy:'track'"
                          ng-class="{'item-royal':playlist[mediaPlayer.currentTrack-1].id==musica.id, 'item-stable':playlist[mediaPlayer.currentTrack-1].id!=musica.id}"
                          ng-click="addToPlaylist(musica)">
                    <span class="badge badge-calm track_number">{{mostraZero(musica.track)}}</span>
                    <span class="song_title royal">{{musica.nome}}</span>
                    <i class="icon ion-play royal"></i>
                </ion-item>
            </ion-list>
            <ion-item class="item-divider item-calm home_header">DESCRIÇÃO</ion-item>
            <p class="cd_description">{{cd.descricao}}</p>
        </div>
    </ion-content>
</ion-view>
