<ion-view view-title="CDS">
    <ion-content scroll-event-interval="5">
        <ion-list>
            <div ng-repeat="genero in cds|orderBy:'t':true"
                 class="genero">
                <ion-item class="item-divider item-calm home_header item-divider"
                          affix-within-container=".genero">{{genero.nome}}</ion-item>
                <ion-item class="item-thumbnail-left cd_item"
                          ng-repeat="cd in genero.cds"
                          ui-sref="app.cd({id:cd.id})">
                    <img ng-src="http://musicatop.jelastic.websolute.net.br/public/img/{{cd.capa}}">
                    <h2 style="white-space: pre-wrap">{{cd.titulo|uppercase}}</h2>
                    <p>POR: {{cd.artista.nome|uppercase}}
                        <br/>
                        <span class="cd_downloads">{{cd.downloads}} DOWNLOADS</span>
                        <br/>
                        <span am-time-ago="cd.createdAt"></span>
                    </p>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>