<ion-view view-title="MusicaTop">
    <ion-content class="calm-bg">
        <ion-slide-box active-slide="myActiveSlide" does-continue="true" auto-play="true">
            <ion-slide>
                <div class="home_slide calm-bg"><img
                        src="http://musicatop.jelastic.websolute.net.br/public/img/476452_469301026474788_1140330259_o1-1000x368.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="home_slide calm-bg"><img
                        src="http://musicatop.jelastic.websolute.net.br/public/img/nirvana2.jpg" alt=""/></div>
            </ion-slide>
            <ion-slide>
                <div class="home_slide calm-bg"><img
                        src="http://musicatop.jelastic.websolute.net.br/public/img/10623306_849829288369870_6340214045664897850_o-1000x368.jpg"
                        alt=""/></div>
            </ion-slide>
        </ion-slide-box>
            <ion-list>
                <ion-item class="item-divider item-calm home_header">Top Downloads</ion-item>
                <ion-item class="item-thumbnail-left" ng-repeat="playlist in playlists" ui-sref="app.cd({id:1})">
                    <img src="cover.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </ion-item>
                <ion-item class="item-divider item-calm home_header">Novidades</ion-item>
                <ion-item class="item-thumbnail-left" ng-repeat="playlist in playlists" ui-sref="app.cd({id:1})">
                    <img src="cover.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </ion-item>
                <ion-item class="item-divider item-calm home_header">Próximos Eventos</ion-item>
                <ion-item class="item-avatar" ng-repeat="playlist in playlists" ui-sref="app.event({id:1})">
                    <img src="venkman.jpg">
                    <h2>Venkman</h2>
                    <p>Back off, man. I'm a scientist.</p>
                </ion-item>
            </ion-list>
    </ion-content>
</ion-view>
