<ion-view view-title="MÚSICA TOP">
    <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
    <ion-content class="calm-bg">
        <div ng-if="bannersLoaded">
            <ion-slide-box active-slide="myActiveSlide" does-continue="true" auto-play="true">
                <ion-slide ng-repeat="banner in home.banners">
                    <div class="home_slide calm-bg">
                        <img ng-src="http://musicatop.jelastic.websolute.net.br/public/img/{{banner.src}}">
                    </div>
                </ion-slide>
            </ion-slide-box>
            <ion-list>
                <ion-item class="item-divider item-calm home_header">Top Downloads</ion-item>
                <ion-item class="item-thumbnail-left cd_item" ng-repeat="cd in home.mais_baixados"
                          ui-sref="app.cd({id:cd.id})">
                    <img ng-src="http://musicatop.jelastic.websolute.net.br/public/img/{{cd.capa}}">

                    <h2>{{cd.titulo}}</h2>

                    <p>Enviado por: {{cd.artista.nome}}<br/><span class="cd_downloads">{{cd.downloads}} Downloads</span><br/><span
                            am-time-ago="cd.createdAt"></span></p>
                </ion-item>
                <ion-item class="item-divider item-calm home_header">Novidades</ion-item>
                <ion-item class="item-thumbnail-left cd_item" ng-repeat="cd in home.uploads"
                          ui-sref="app.cd({id:cd.id})">
                    <img ng-src="http://musicatop.jelastic.websolute.net.br/public/img/{{cd.capa}}">

                    <h2>{{cd.titulo}}</h2>

                    <p>Enviado por: {{cd.artista.nome}}<br/><span class="cd_downloads">{{cd.downloads}} Downloads</span><br/><span
                            am-time-ago="cd.createdAt"></span></p>
                </ion-item>
                <ion-item class="item-divider item-calm home_header">Próximos Eventos</ion-item>
                <ion-item class="item-avatar item_evento" ng-repeat="evento in home.eventos"
                          ui-sref="app.event({id:evento.id})">
                    <div class="event_title">
                        <h2>{{evento.nome}}</h2>

                        <p>
                            <strong class="dates">{{evento.inicio| amCalendar}}</strong>
                            <br/>
                            <span class="local">{{evento.local.name}}/ {{evento.cidade.nome}}</span>
                        </p></div>
                    <img ng-src="http://musicatop.jelastic.websolute.net.br/public/img/{{evento.foto}}"
                         class="event_picture">
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
