<ion-view view-title="PERFIL">
    <ion-content>
        <div ng-if="dataLoaded">
            <div style="height:0">
                <img src="img/logo_festival.png" width="280" style="margin-left: 10px">
                <button class="button button-royal button-small" ng-click="processVote()"
                        style="float:right;margin-top:-85px;margin-right: 10px">Votar nesse artista
                </button>
            </div>
            <figure class="profile-cover"
                    ng-style="{background:'url({{API_URL}}public/img/{{perfil.usuario.capa}})'}">
            </figure>
            <div class="profile_bg"></div>
            <header class="profile-header">
                <div class="profile-dados clearfix">
                    <figure class="avatar">
                        <img src="http://placehold.it/124x124"
                             style="width: 116px;height: 116px;"
                             ng-src="{{API_URL}}public/img/{{perfil.usuario.foto}}">
                    </figure>
                    <div class="info">
                        <h1 class="name">{{perfil.usuario.nome}}</h1>

                        <p class="desc">{{perfil.usuario.cidade.nome}}</p>
                    </div>
                    <div class="redes">
                        <ul>
                            <li><a ng-href="{{'http://instagram.com/' + perfil.usuario.instagram}}"
                                   target="_blank"
                                   title="Instagram"
                                   class="instagram">Instagram</a></li>
                            <li><a ng-href="{{'http://twitter.com/' + perfil.usuario.twitter}}"
                                   target="_blank"
                                   title="Twitter"
                                   class="twitter">Twitter</a></li>
                            <li><a ng-href="{{'http://facebook.com/' + perfil.usuario.facebook}}"
                                   target="_blank"
                                   title="Facebook"
                                   class="facebook">Facebook</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <ion-list>
                <ion-item class="user_about_item"
                          style="white-space: pre-wrap;margin-bottom: -20px">{{perfil.usuario.about}}
                </ion-item>
                <div ng-if="perfil.cds.length>0">
                    <ion-item class="item-divider item-calm home_header">COLEÇÃO</ion-item>
                    <ion-item class="item-thumbnail-left cd_item"
                              ng-repeat="cd in perfil.cds"
                              ui-sref="app.cd({id:cd.id})">
                        <img ng-src="{{API_URL}}public/img/{{cd.capa}}">

                        <h2 style="white-space: pre-wrap">{{cd.titulo|uppercase}}</h2>

                        <p><span class="cd_downloads">{{cd.downloads}} DOWNLOADS</span><br/>Adicionado <span
                                am-time-ago="cd.createdAt"></span></p>
                    </ion-item>
                </div>
            </ion-list>
        </div>
    </ion-content>
</ion-view>